#
# Copyright (C) 2023 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

service mtk_secure_element_hal_service /vendor/bin/hw/android.hardware.secure_element@1.2-service-mediatek
    override
    class hal
    user secure_element
    group secure_element
    disabled

service vendor.secure_element /vendor/bin/hw/vendor.microtrust.hardware.se@1.0-service
    override
    class late_start
    user system
    group nfc
    disabled

service vendor.nfc_hal_service /vendor/bin/hw/android.hardware.nfc-service.nxp
    override
    class early_hal
    user nfc
    group nfc drmrpc system
    disabled

on boot && property:ro.boot.product.hardware.sku=xaga
    enable mtk_secure_element_hal_service
    enable vendor.secure_element
    enable vendor.nfc_hal_service

on boot
    # Enable ADB by default
    setprop persist.sys.usb.config adb

on post-fs-data
    # Enable adb root by default (needed for adb root to work)
    mkdir /data/adbroot 0770 root root
    write /data/adbroot/enabled 1

on boot && property:ro.boot.product.hardware.sku=xagapro
    enable mtk_secure_element_hal_service
    enable vendor.secure_element
    enable vendor.nfc_hal_service

# Set Sogou Input Method as the default IME
on property:sys.boot_completed=1
    # Enable and set SogouInput as the default input method
    exec -- /system/bin/sh -c "cmd settings put secure enabled_input_methods com.sohu.inputmethod.sogou/.SogouIME"
    exec -- /system/bin/sh -c "cmd settings put secure default_input_method com.sohu.inputmethod.sogou/.SogouIME"
